In [ ]:
# https://www.kaggle.com/datasets/abdelrahmantarek22/predict-loan-approval-problem

In [530]:
# Data gathering

In [774]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

In [775]:
df = pd.read_csv(r"D:\Projects\Loan_approval_classification\data\train_u6lujuX_CVtuZ9i.csv")

In [776]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [777]:
df['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [778]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [779]:
# Data preprocessing

In [780]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [781]:
# def term_group(term):
#     if term <= 60:
#         return 'Short'
#     elif term <= 180:
#         return 'Medium'
#     else:
#         return 'Long'

# df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(method='ffill')
# df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)
# df['Loan_Amount_Term'] = df['Loan_Amount_Term'].apply(term_group)

In [782]:
# # replacing categorical variables with mode of the column and numerical with the mean
# gender_mode = df['Gender'].mode()[0]
# Married_mode = df['Married'].mode()[0]
# Dependents_mode = df['Dependents'].mode()[0]
# Self_Employed_mode = df['Self_Employed'].mode()[0]
# LoanAmount_mean = df['LoanAmount'].mean().round(2)
# Credit_History_mean = df['Credit_History'].mean().round(2)

In [783]:
# df['Gender'] = df['Gender'].fillna(gender_mode)
# df['Married'] = df['Married'].fillna(Married_mode)
# df['Dependents'] = df['Dependents'].fillna(Dependents_mode)
# df['Self_Employed'] = df['Self_Employed'].fillna(Self_Employed_mode)
# df['LoanAmount'] = df['LoanAmount'].fillna(LoanAmount_mean)
# df['Credit_History'] = df['Credit_History'].fillna(method='ffill')

In [784]:
# df['Loan_Amount_Term'].unique()

In [785]:
# df.isnull().sum()

In [786]:
# Checking co-relation

In [787]:
# Fixing the data distributions

In [788]:
# sns.histplot(df['LoanAmount'], kde=True)

In [789]:
# df['LoanAmount'].skew()

In [790]:
# df['LoanAmount_log'] = np.log1p(df['LoanAmount'])
# df['LoanAmount_log'].skew()

In [791]:
# sns.histplot(df['LoanAmount_log'], kde=True)

In [792]:
# # Engineering new scaled down feature to prevent hallucination
# scaler = StandardScaler()
# df['Log_ApplicantIncome'] = np.log1p(df['ApplicantIncome'])
# df['Scaled_Log_ApplicantIncome'] = scaler.fit_transform(df[['Log_ApplicantIncome']])

In [793]:
# sns.histplot(df['Scaled_Log_ApplicantIncome'], kde=True)

In [794]:
# Encoding

In [676]:
# print("Gender unique values : ",df['Gender'].unique())
# print("Married unique values : ",df['Married'].unique())
# print("Dependents unique values : ",df['Dependents'].unique())
# print("Self_Employed unique values : ",df['Self_Employed'].unique())
# # print("LoanAmount unique values : ",df['LoanAmount'].unique())
# print("Loan_Amount_Term unique values : ",df['Loan_Amount_Term'].unique())
# print("Credit_History unique values : ",df['Credit_History'].unique())
# print("Education unique values : ",df['Education'].unique())
# print("Property_Area unique values : ",df['Property_Area'].unique())

In [642]:
# # label encoding for ordinal categories
# df['Loan_Status'] = df['Loan_Status'].replace({"N":0,"Y":1})
# df['Dependents'] = df['Dependents'].replace({"0":0,"1":1,"2":2,"3+":3})
# df['Married'] = df['Married'].replace({"No":0,"Yes":1})
# df['Gender'] = df['Gender'].replace({"Female":0,"Male":1})
# df['Self_Employed'] = df['Self_Employed'].replace({"No":0,"Yes":1})
# df['Education'] = df['Education'].replace({"Not Graduate":0,"Graduate":1})

# df['Credit_History'] = df['Credit_History'].astype(int)

# # One hot encoding for  categories
# df = pd.get_dummies(df, columns=['Property_Area'])
# df = pd.get_dummies(df, columns=['Loan_Amount_Term'])

In [683]:
# df

In [682]:
# print("Gender unique values : ",df['Gender'].unique())
# print("Married unique values : ",df['Married'].unique())
# print("Dependents unique values : ",df['Dependents'].unique())
# print("Self_Employed unique values : ",df['Self_Employed'].unique())
# print("Credit_History unique values : ",df['Credit_History'].unique())
# print("Education unique values : ",df['Education'].unique())

In [646]:
# Splitting the dataset into train and test

In [668]:
# df = df.drop(["Loan_ID","ApplicantIncome","CoapplicantIncome","Log_ApplicantIncome","LoanAmount"],axis=1)

In [669]:
# df

In [651]:
# x = df.drop(["Loan_Status"],axis=1)

In [658]:
# y = df["Loan_Status"]

In [659]:
# x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=7)

In [731]:
def load_data(path):
    df = pd.read_csv(path)
    return df

In [795]:
path = "D:/Projects/Loan_approval_classification/data/train_u6lujuX_CVtuZ9i.csv"
df = load_data(path)

In [724]:
def term_group(term):
    if term <= 60:
        return 'Short'
    elif term <= 180:
        return 'Medium'
    else:
        return 'Long'

In [719]:
def processing_null_data(df):
    
    df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(method='ffill')
    df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)
    df['Loan_Amount_Term'] = df['Loan_Amount_Term'].apply(term_group)

    # replacing categorical variables with mode of the column and numerical with the mean
    gender_mode = df['Gender'].mode()[0]
    Married_mode = df['Married'].mode()[0]
    Dependents_mode = df['Dependents'].mode()[0]
    Self_Employed_mode = df['Self_Employed'].mode()[0]
    LoanAmount_mean = df['LoanAmount'].mean().round(2)
    Credit_History_mean = df['Credit_History'].mean().round(2)

    df['Gender'] = df['Gender'].fillna(gender_mode)
    df['Married'] = df['Married'].fillna(Married_mode)
    df['Dependents'] = df['Dependents'].fillna(Dependents_mode)
    df['Self_Employed'] = df['Self_Employed'].fillna(Self_Employed_mode)
    df['LoanAmount'] = df['LoanAmount'].fillna(LoanAmount_mean)
    df['Credit_History'] = df['Credit_History'].fillna(method='ffill')
    
    return df

In [797]:
df = processing_null_data(df)

In [736]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    float64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    object
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), object(9)
memory usage: 62.5+ KB

In [728]:
def scale_down(df):
    
    # Fixing the data distributions
    df['LoanAmount'] = np.log1p(df['LoanAmount'])
    
    # Engineering new scaled down feature to prevent hallucination
    scaler = StandardScaler()
    df['ApplicantIncome'] = np.log1p(df['ApplicantIncome'])
    df['ApplicantIncome'] = scaler.fit_transform(df[['ApplicantIncome']])
    
    return df

In [796]:
df = scale_down(df)

In [734]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,0.516186,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,0.137806,1508.0,4.859812,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,-0.519479,0.0,4.204693,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,-0.751605,2358.0,4.795791,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,0.555727,0.0,4.955827,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,-0.572062,0.0,4.276666,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,-0.032679,0.0,3.713572,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,1.015921,240.0,5.537334,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,0.918972,0.0,5.236442,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,0.137806,0.0,4.897840,360.0,0.0,Semiurban,N

In [738]:
def pre_processing(df):
    
    print("------- Unique values before encoding -------")
    print("Gender unique values : ",df['Gender'].unique())
    print("Married unique values : ",df['Married'].unique())
    print("Dependents unique values : ",df['Dependents'].unique())
    print("Self_Employed unique values : ",df['Self_Employed'].unique())
    # print("LoanAmount unique values : ",df['LoanAmount'].unique())
    print("Loan_Amount_Term unique values : ",df['Loan_Amount_Term'].unique())
    print("Credit_History unique values : ",df['Credit_History'].unique())
    print("Education unique values : ",df['Education'].unique())
    print("Property_Area unique values : ",df['Property_Area'].unique())

    # label encoding
    df['Loan_Status'] = df['Loan_Status'].replace({"N":0,"Y":1})
    df['Dependents'] = df['Dependents'].replace({"0":0,"1":1,"2":2,"3+":3})
    df['Married'] = df['Married'].replace({"No":0,"Yes":1})
    df['Gender'] = df['Gender'].replace({"Female":0,"Male":1})
    df['Self_Employed'] = df['Self_Employed'].replace({"No":0,"Yes":1})
    df['Education'] = df['Education'].replace({"Not Graduate":0,"Graduate":1})
    
    df['Credit_History'] = df['Credit_History'].astype(int)

    # One hot encoding
    df = pd.get_dummies(df, columns=['Property_Area'])
    df = pd.get_dummies(df, columns=['Loan_Amount_Term'])
    
    print("------- Unique values Post encoding -------")
    print("Gender unique values : ",df['Gender'].unique())
    print("Married unique values : ",df['Married'].unique())
    print("Dependents unique values : ",df['Dependents'].unique())
    print("Self_Employed unique values : ",df['Self_Employed'].unique())
    print("Credit_History unique values : ",df['Credit_History'].unique())
    print("Education unique values : ",df['Education'].unique())

    df = df.drop(["Loan_ID","CoapplicantIncome"],axis=1)
    
    return df

In [798]:
df = pre_processing(df)

------- Unique values before encoding -------
Gender unique values :  ['Male' 'Female']
Married unique values :  ['No' 'Yes']
Dependents unique values :  ['0' '1' '2' '3+']
Self_Employed unique values :  ['No' 'Yes']
Loan_Amount_Term unique values :  ['Long' 'Medium' 'Short']
Credit_History unique values :  [1. 0.]
Education unique values :  ['Graduate' 'Not Graduate']
Property_Area unique values :  ['Urban' 'Rural' 'Semiurban']
------- Unique values Post encoding -------
Gender unique values :  [1 0]
Married unique values :  [0 1]
Dependents unique values :  [0 1 2 3]
Self_Employed unique values :  [0 1]
Credit_History unique values :  [1 0]
Education unique values :  [1 0]

In [813]:
def data_split(df):
    x = df.drop(["Loan_Status"],axis=1)
    y = df["Loan_Status"]
   
    sm = SMOTE(random_state=42)
    X_resampled, y_resampled = sm.fit_resample(x, y)  # Apply SMOTE to balance the classes
    print(y_resampled.value_counts())
    x_train, x_test, y_train, y_test = train_test_split(X_resampled,y_resampled,test_size=0.2,random_state=7, stratify=y_resampled)
    return x_train, x_test, y_train, y_test

In [814]:
x_train, x_test, y_train, y_test = data_split(df)

1    422
0    422
Name: Loan_Status, dtype: int64

In [747]:
# Model Training

In [815]:
def model_training(model):
    
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred,y_test)
    recall = recall_score(y_pred,y_test)
    precision = precision_score(y_pred,y_test)
    f1_score_value = f1_score(y_pred,y_test)
    print("Accuracy : ",accuracy)
    print("recall : ",recall)
    print("precision : ",precision)
    print("f1_score : ",f1_score_value)

In [816]:
#Logistic Regression Exp
model = LogisticRegression()
model_training(model)

Accuracy :  0.7751479289940828
recall :  0.7008547008547008
precision :  0.9647058823529412
f1_score :  0.8118811881188118

In [817]:
#Decision Tree Exp
model = DecisionTreeClassifier()
model_training(model)

Accuracy :  0.757396449704142
recall :  0.7682926829268293
precision :  0.7411764705882353
f1_score :  0.7544910179640718

In [818]:
#Random Forest Exp
model = RandomForestClassifier()
model_training(model)

Accuracy :  0.8224852071005917
recall :  0.7956989247311828
precision :  0.8705882352941177
f1_score :  0.8314606741573034

In [819]:
#SVM Exp
model = SVC()
model_training(model)

Accuracy :  0.7337278106508875
recall :  0.6612903225806451
precision :  0.9647058823529412
f1_score :  0.784688995215311

In [ ]:
# pipeline